/* @font-face {
    font-family: "antipasto";
    src: url("/font/antipasto/Antipasto-Pro-Regular-trial.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "antipasto", sans-serif;
} */


.transparentbg {
    background-color: rgba(0, 0, 0, 0.5);
}

.textesize {
    width: 18rem
}


h2{
    font-size: x-large;
}

P{
    font-size: medium;
}


.Pad-top{
    padding-top: 20px;
}


.text-fond-blanc {
    color: #918f88;
}

.bgspecialcolor{
    background-color: #F8F8F8;
}